{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
{% for item in jobs%}
<div class="col-md6 border rounded">
    <table>
        <label><h4>Action # {{item.id}}</h4></label>
        <header>
            <tr>
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
        </header>
        <footer class="font">
            <tr>
                <td>{{ item.job }}</td>
                <td>{{ item.user.surname }} {{ item.user.name }}</td>
                <td>{{ item.work_size }} hours</td>
                <td>{{ item.collaborators }}</td>
                <td>{% if item.is_finished == True %} is finished {% else %} is not finished {% endif %}</td>
            </tr>
        </footer>
    </table>

</div>
{% endfor %}
{% endblock %}